services:
  # Base de Datos MySQL
  db:
    image: mysql:8.0
    container_name: parking-db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - '${DB_PORT}:3306'
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - parking-network
    healthcheck:
      test:
        [
          'CMD',
          'mysqladmin',
          'ping',
          '-h',
          'localhost',
          '-u${DB_USER}',
          '-p${DB_PASSWORD}',
        ]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:alpine
    container_name: parking-redis
    restart: always
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - parking-network

  api:
    build:
      context: .
      dockerfile: ./docker/api.Dockerfile
    container_name: parking-api
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      RAFFLE_CRON_SCHEDULE: ${RAFFLE_CRON_SCHEDULE:-0 0 1 */3 *}
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - '3000:3000'
    networks:
      - parking-network

  web:
    build:
      context: .
      dockerfile: ./docker/web.Dockerfile
    container_name: parking-web
    depends_on:
      - api
    ports:
      - '4200:4200'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      IS_DOCKER: true
      API_URL: http://localhost:3000
    networks:
      - parking-network

networks:
  parking-network:
    driver: bridge

volumes:
  db_data:
