<p-toolbar>
  <ng-template #start>
    <div class="flex items-center gap-3 text-primary">
      <div class="size-6">
        <span class="pi pi-car text-2xl text-blue-500"></span>
      </div>
      <h2
        class="text-slate-700 text-lg font-bold leading-tight tracking-[-0.015em]"
      >
        Resident Parking Portal
      </h2>
    </div>
  </ng-template>
  <ng-template #center> </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      @for(opt of items(); track opt.label){
      <a
        pButton
        severity="secondary"
        text
        [routerLink]="opt.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
      >
        @if(!opt.label){
        <span pButtonIcon [class]="opt.icon"></span>
        }
        <span pButtonLabel>{{opt.label}}</span>
      </a>

      }
      <p-button
        severity="danger"
        text
        label="Logout"
        icon="pi pi-sign-out"
        (click)="sessionService.logout()"
      />
    </div>
  </ng-template>
</p-toolbar>
