<p-card>
  <ng-template #title>
    <div class="flex justify-between items-center">
      <h2>Assignament History</h2>
      <p-button label="Export to PDF" text size="small" />
    </div>
  </ng-template>

  <p-table [value]="history()">
    <ng-template #header>
      <tr>
        <th>Date</th>
        <th>Assigned Spot</th>
        <th>Outcome</th>
      </tr>
    </ng-template>
    <ng-template #body let-spot>
      <tr>
        <td>{{ spot.assignedDate }}</td>
        <td>{{ spot.slotNumber }}</td>
        <td>
          <p>Gano</p>
          <p>No seleccionado</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
