name: Continuous Delivery

on:
  push:
    branches: [main]

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Downcase Repo Name
        run: |
          echo "REPO_LC=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push API Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/api.Dockerfile
          push: true
          tags: |
            ghcr.io/manuelgonzalezunosquare/parkingsystem/api:latest
            ghcr.io/manuelgonzalezunosquare/parkingsystem/api:${{ github.sha }}

      - name: Build and Push Web Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/web.Dockerfile
          push: true
          tags: |
            ghcr.io/manuelgonzalezunosquare/parkingsystem/web:latest
            ghcr.io/manuelgonzalezunosquare/parkingsystem/web:${{ github.sha }}
